/* .result-item {
    width: 100px;
    height: 100px;
    background-color: #CCCCCC;
    margin: 5px;
    align-items: center;
    justify-content: center;
}

.result-item Label {
    font-size: 14px;
    color: #000000;
} */